.form-select {
    background-color: #fcf8f0; 
    border: none;
    width: 17rem;
    padding: 0.5rem 0.3rem;
    /* border-radius: 0.5rem; */
}

#search-keyword {
    width: 20rem;
}


#btn-search {
    border: 1px solid #ffe0d5;
    background-color: white;
    padding: 0.45rem;
    width: 3.5rem;
}


#map {
    width: 100%;
    height: 34rem;
    margin: 0 auto;
}


#map-section {
    margin-top: 2rem;
}